
.loginContainer {   
    background-image: url('../../assets/loginBackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; /* Center the background image */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh; 
    width: 100vw; 
}

.login-circle {
    padding-right: 425px;  
}

.login-button{
padding-top: 320px;
padding-left: 100px;

}

/* .navbar {
    display: none; 
} */

.email-input{
margin-top: 40px;
margin-bottom: 15px;
}

.email-input input {
    background: transparent;
    text-align: center;
    border: 1px solid #FFFFF2;
    padding: 18px 60px;
    color:#FFFFF2;
    font-size: medium;
    font-weight: bold;
}

.email-input-two{
    margin-top: 10px;
    }
    
    .email-input-two input {
        background: transparent;
        text-align: center;
        border: 1px solid #000000;
        padding: 9px 30px;
        color:#FFFFF2 !important;
        font-size: medium;
        font-weight: bold;
    }

.email-input input.is-invalid {
    /* Additional styles for the input when it has the class 'is-invalid' */
    border-color: red; /* Example: border color changes to red */
}

.email-input-two input.is-invalid {
    /* Additional styles for the input when it has the class 'is-invalid' */
    border-color: red; /* Example: border color changes to red */
}

.password-input input {
  background: transparent;
  text-align: center;
  /* backdrop-filter: blur(5px); */
    border: 1px solid #FFFFF2;
    padding: 18px 60px;
    color:#FFFFF2;
    font-size: medium;
    font-weight: bold;
}

.password-input input.is-invalid {
    /* Additional styles for the input when it has the class 'is-invalid' */
    border-color: red; /* Example: border color changes to red */
}

.login-register-link{
    margin-top: 50px;
text-align: center;
text-decoration: none;



}

.email-input input::placeholder,
.password-input input::placeholder {
    color: #FFFFF2; /* Change placeholder color */
}

.email-input-two input::placeholder,
.password-input-two input::placeholder {
    color: #000000; /* Change placeholder color */
}

/*  /////////////RESGISTER/////////////////////////////////////////////////////////////////// */

.registerContainer{
    background-image: url('../../assets/Register.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; /* Center the background image */
    display: flex;
    align-items: center;
    vertical-align: top;
    justify-content: center;
    flex-direction: column;
    height: 100vh; 
    width: 100vw;
}

.innerRegisterContainer {
 display: flex;
 justify-content: row;
}

.innerRegisterTop{
 padding: 350px 100px 0 0;
}

.innerRegisterBottom{
 padding-bottom: 100px;
 align-items: center;
 text-align: center;
 color: #000000;
}