
.about-whole-box{
display: flex;
flex-direction: row;
justify-content: center;
/* border:2px black solid; */


}


.about-box{
width: 800px;
margin-top: 800px;

/* border:2px black dotted; */
/* box-shadow: 15px 15px #FF67BF; */
margin: 100px 0px 0px 50px;
text-align: center;
padding: 10px 0px 50px 0px;

}

.infoBox{

    
    display: flex;
    justify-content: space-between;
    align-content:end;

}

.infoSecondaryBox{

    
    display: flex;
    justify-content: space-between;
    align-content:end;

}

.titleBox{
    /* border: .5px black solid; */
    padding-left: 5px;
    text-align:left ;
    font-weight: bolder;
    font-size: small;
    width:50px;
    
    
    }


.titleSecondaryBox{
/* border: .5px black solid; */
padding-left: 5px;
text-align:left ;
font-weight: bolder;
font-size: medium;
width:150px;



}

.categorySecondaryBox{
   
    
    margin-top: 3px;
    border: 1px black solid;
    /* border-radius: 12px; */
    /* box-shadow:2px 2px 0 #000000; */
    padding:3px 5px 3px 5px;
    font-size:small;
    font-weight:bold;
    letter-spacing: 2px;
    color:hsla(0, 1%, 30%, 0.948)
   
    }

.categorySecondaryBox:hover{



font-weight:bolder;
font-size:medium;
 
}

.categoryBox{
   
    
    margin-top: 3px;
    border: .5px black solid;
    /* border-radius: 12px; */
    box-shadow:2px 2px 0 #000000;
    padding:3px 5px 3px 5px;
    font-size:small;
    font-weight:bold;
    }

.categoryBox:hover{
width: 100px;
border-color: #FFFEF2;
height:18px;
background-color: #FF67BF;
color:#FFFEF2;
font-weight:bolder;
font-size:normal;
}

/* .dateBox{
width:40%;
border: .5px black solid;   
box-shadow:5px 5px 0 #FF67BF   
} */

.latestPost{

border: .5px black solid;

}

.right-side{

padding:20px;


}

.about-image-box{
   
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    gap: 10px;
    width: 600px; 
    /* border:2px dotted black; */
    margin: 50px 100px 50px 100px ;


}

.about-image-box-secondary{
   
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    gap: 10px;
    margin: 50px 100px 50px 0 ;


}



.aboutSecondary-box{
width:20%;

align-items: space-evenly;

margin:10px;
}

.about-box{
    width:45%;
    
    align-items: space-evenly;
    
    margin:10px;
    }

.aboutimg {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
   
   
  }

  .aboutImg-Header {
    width: 100%;
    height: 100%;
    
   
  }

.about_header {
    margin: 80px 0px 0px 40px;
    width: 750px;
   
  }

  .about_header-category {
    margin: 0px 0px 0px 40px;
    width: 750px;
   
  }


  
.splitImgHeaderBox{

height:820px;


}
 
.opinion{

margin-top: 100px;


}


.splitImgHeaderBox-opinion{

margin:160px;

}

.splitImgHeaderBox-rectangle{


    height:520px;

}

/* //////////////POst details//////////////////////////////// */


.imageBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 22px 0 30px;
    margin-top: 100px;
}

.image_Display {
    width: 448px;
    height: 448px;
    border:black solid 2px;
    margin: 48px 8px 24px 0;
    background-color: rgb(194, 191, 191);

}

.imageBox_Extra {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    



}

.image_Display_Extra {
    margin: 0px 30px 24px 0;
    width: 640px;
   
    height: 648px;
    border:black solid 2px;
    background-color: rgb(194, 191, 191);
  
  
}

.image_Display_Extra:hover{

    
  
}

.item-details-info-box {
    padding: 0 22px 0 30px;
}


.item-description {
    padding-bottom: 100px;
}

.opaque-text {
    opacity: 50%;
}

.etsy_button {
    background-color: transparent;
    border: none;
}

.etsy_logo {
    width: 50px;


}

.icon-button {
background-color: transparent;
border: none;
}

.item-details-etsy {
    display: flex;

}

.admin-item-details-etsy{
    display: block;
    
  

}

.buying-favorite-box {
    display: flex;

    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 1080px;

}

.admin-buying-favorite-box {
    display: flex;

    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 1040px;

}

.favoritetab {
    margin-left: 15px;
    width: 57px;
    background-color: transparent;
    border: none;

}

.admin_delete_btn{
    margin-right: 45px;

}

.admin_edit_btn{
margin-right:900px;
}